.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 45px;
  margin: 0 auto;
  padding-top: calc(200px - 80px);
}
.shop-container .button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination button {
  margin: 50px 10px;
  padding: 10px;
  cursor: pointer;
}
.pagination .selected {
  background-color: black;
  color: white;
}
.pagination select{
  width: 40px;
  height: 50px;
  border: none;
  outline: none;
}
@media only screen and (max-width: 1310px) {
  .products-container {
    grid-template-columns: repeat(2, 300px);
  }
}
@media only screen and (max-width: 980px) {
  .products-container {
    grid-template-columns: 300px;
  }
}
